[Unit]
Description=jassbot is the jassdoc bot for matrix.org

[Service]
ExecStart=/home/pi/.cargo/bin/jassbot
RestartSec=5
Restart=always
Environment="PASSWORD=uX7PixTaUNkE"
User=pi

[Install]
WantedBy=multi-user.target
